{% load getattribute %}

<table class="tablesorter">
  <thead>
    <tr>
      <th>Player</th>
      <th>Team</th>
      <th>Year</th>
      {% for arg in table_attrs %}
      <th>{{ arg.0|capfirst }}</th>
      {% endfor %}
    <tr>
  </thead>
<tbody>
{% for stat in stat_list %}
<tr>
  <td><a href="{% url person_detail_id stat.player.id %}">{{ stat.player }}</a></td>
  <td><a href="{% url team_by_id stat.team.id %}">{{ stat.team }}</a></td>
  <td><a href="{% url year_stats stat.year %}">{{ stat.year }}</a></td>
  {% for arg in table_attrs %}
  <td>{{ stat|getattribute:arg.1 }}</td>
  {% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
