{% extends "base.html" %}

{% block extrahead %}
<script type="text/javascript">
  $(document).ready(function() { $(".tablesorter").tablesorter();})
</script>
{% endblock %}

{% block content %}

<h3>{{ this_draft.name }}</h3>

{% comment %}
<ul>
  {% for draft in other_drafts %}
  <li><a href="{% url draft_compare this_draft.id draft.id %}">{{ draft.name }}</a></li>
  {% endfor %}
</ul>
{% endcomment %}


<table class="tablesorter">
  <thead>
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th>Team</th>
    <tr>
  </thead>
<tbody>
{% for pick in picks %}
<tr>
  <td>{{ pick.number }}</td>
  {% if pick.player %}
  <td><a href="{% url person_detail_id pick.player.id %}">{{ pick.player }}</a></td>
  {% else %}
  <td>{{ pick.name }}</td>
  {% endif %}
  <td>{{ pick.team }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<h3>Picks by Team</h3>
{% for team, picks in by_team %}
<h4>{{ team }}</h4>
<ul>
  {% for pick in picks %}
  <li>{{ pick.number }}. {{ pick.name }}</li>
  {% endfor %}
</ul>
{% endfor %}
  

{% endblock %}
