{% extends "base.html" %}

{% block extrahead %}
<script type="text/javascript">
  $(document).ready(function() { $(".tablesorter").tablesorter();})
</script>
{% endblock %}

{% block content %}


<table class="tablesorter">
  <thead>
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th>Team</th>
    <tr>
  </thead>
<tbody>
{% for pick in picks %}
<tr>
  <td>{{ pick.number }}</td>
  {% if pick.player %}
  <td><a href="{% url person_detail pick.player.id %}">{{ pick.player }}</a></td>
  {% else %}
  <td>{{ pick.name }}</td>
  {% endif %}
  <td>{{ pick.team }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
