Beaker==0.9.5
BeautifulSoup==3.1.0.1
Conch==8.1.0
Django==1.2
Jinja2==2.5.5
PyYAML==3.09
South==0.7.2
Werkzeug==0.6.1
autumn==0.5.1
chardet==1.0.1
django-memcached==0.1.2
feedparser==4.1
pyOpenSSL==0.7
pycrypto==2.0.1
pygame==1.7.1release
pygooglechart==0.3.0
pyserial==2.3
python-daemon==1.5.5
python-dateutil==1.4.1
python-memcached==1.45
reportlab==2.4
roman==1.4
simple-json==1.1
simplejson==2.0.9
textile==2.0.10
virtualenv==1.4.8
virtualenvwrapper==2.1.1
wsgiref==0.1.2

