{% extends "base.html" %}

{% block extrahead %}
<script type="text/javascript">
  $(document).ready(function() { $(".tablesorter").tablesorter();})
</script>
{% endblock %}

{% block content %}


{% with team.league as league %}
<table id="bio">
<tr>
  <td>Name</td><td>{{ team.name }}</td>
</tr>
<tr>
  <td>League</td><td><a href="{% url league_by_id league.id %}">{{ league.name }}</a></td>
</tr>
<tr>
  <td>City</td><td>{{ team.city }}</td>
</tr>
<tr>
  <td>Founded in</td><td>{{ team.founded }}</td>
</tr>
</table>
{% endwith %}


<table class="tablesorter">
  <thead>
    <tr>
      <th>Player</th>
      <th>Team</th>
      <th>Year</th>
      <th>GP</th>
      <th>GS</th>
      <th>Min</th>
      <th>Goals</th>
      <th>Assists</th>
    <tr>
  </thead>
<tbody>
{% for stat in stats %}
<tr>
  <td><a href="{% url person_detail_id stat.player.id %}">{{ stat.player }}</a></td>
  <td><a href="{% url team_detail stat.team.slug %}">{{ stat.team }}</a></td>
  <td><a href="{% url year_stats stat.year %}">{{ stat.year }}</a></td>
  <td>{{ stat.games_played }}</td>
  <td>{{ stat.games_started }}</td>
  <td>{{ stat.minutes }}</td>
  <td>{{ stat.goals }}</td>
  <td>{{ stat.assists }}</td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock %}
