{% extends "base.html" %}

{% block extrahead %}
<script type="text/javascript">
  $(document).ready(function() { $(".tablesorter").tablesorter();})
</script>
{% endblock %}

{% block content %}

<ul class="horizontal">
  {% for year in years %}
  <li><a href="{% url salaries_by_team year team %}">{{ year }}</a></li>
  {% endfor %}  
</ul>


<table class="tablesorter">
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Base</th>
      <th>Guaranteed</th>
    <tr>
  </thead>
<tbody>
{% for salary in salaries %}
<tr>
  <td><a href="{% url person_detail salary.player.id %}">{{ salary.player }}</a></td>
  <td>{{ salary.team }}</td>
  <td>{{ salary.base_pretty }}</td>
  <td>{{ salary.guaranteed_pretty }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
