{% extends "base.html" %}

{% block extrahead %}
<script type="text/javascript">
  $(document).ready(function() { $(".tablesorter").tablesorter();})
</script>
{% endblock %}

{% block content %}

<div id="person">



<table id="bio">
<tr>
  <td>Name</td><td>{{ person.name }}</td>
</tr>
<tr>
  <td>Nationality</td><td><a href="{% url country_detail person.nationality.id %}">{{ person.nationality }}</a></td>
</tr>
<tr>
  <td>Birthdate</td><td>{{ person.birthdate }}</td>
</tr>
<tr>
  <td>Birthplace</td><td>{{ person.birthplace }}</td>
</tr>
</table>

<table id="stats" class="tablesorter">
  <thead>
    <tr>
      <th>Team</th>
      <th>Year</th>
      <th>GP</th>
      <th>GS</th>
      <th>Min</th>
      <th>Goals</th>
      <th>Assists</th>
    <tr>
  </thead>
<tbody>
{% for season in seasons %}
<tr>
  <td><a href="{% url team_by_id season.team.id %}">{{ season.team }}</a></td>
  <td><a href="{% url year_stats season.year %}">{{ season.year }}</a></td>
  <td>{{ season.games_played }}</td>
  <td>{{ season.games_started }}</td>
  <td>{{ season.minutes }}</td>
  <td>{{ season.goals }}</td>
  <td>{{ season.assists }}</td>
</tr>
{% endfor %}
<tr>
  <td>Career</td>
  <td></td>
  <td>{{ career.games_played }}</td>
  <td>{{ career.games_started }}</td>
  <td>{{ career.minutes }}</td>
  <td>{{ career.goals }}</td>
  <td>{{ career.assists }}</td>
</tr>
</tbody>
</table>

</div>


{% endblock %}
